.media-modal .media-modal-body {
    height: 330px;
    overflow-y: auto;
}
.media-modal .modal-content{
    border-radius: 0;
}
@media (min-width: 1200px){
    .modal-xl {
        max-width: 1325px;
    }
}

.featured_image-select{
    text-align: center;
}
.featured_image-select a.set_featured_image{
    display: block;
    background-color: #edeff0;
    color: #868080;
    padding: .5em;
    border: 1px dashed #a2aab2;
}
.featured_image-select a:hover{
    color: #868080;
}
.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    margin-left: auto;
    margin-right: auto;
}
.upload-drop{
    height: 378px;
    padding-top: 60px;
}
